<%- include("templates/header") %>

Log in
<form action='/loggingin' method='post'>
    <div><input name='email' type='text' placeholder='email'></div>
    <div><input name='password' type='password' placeholder='password'></div>
    <button>Submit</button>
</form>

<%- include("templates/footer") %>