<%- include("templates/header") %>
    <h1>Hello, <%= username %>!</h1>
    <img src="/<%= image %>" height="200px">
    <div><button onclick="window.location.href='/logout'">Logout</button></div>
    <%- include("templates/footer") %>