<%- include("templates/header") %>
    create user
    <form action='/signup' method='post'>
        <div><input name='username' type='text' placeholder='name'></div>
        <div><input name='email' type='text' placeholder='email'></div>
        <div><input name='password' type='password' placeholder='password'></div>
        <button>Submit</button>
    </form>
<%- include("templates/footer") %>